table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      background-color: green;
}

table , td ,th {
border: 1px solid #ddd;
padding: 8px;
}

tr {

background-color: white;

}