<div class="card" style="width: 18rem; float: left; margin: 70px;">
    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2013/06/30/06/05/silhouettes-142329__340.jpg" style="height: 250px; width: 285px;" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Customer</h5>
      <div>
        <a href="#" class="btn btn-primary ">Add Customer</a> <br> <br>
      </div>
       <div>
        <a href="#" class="btn btn-primary">View Customer</a>
       </div>
      
    </div>
  </div>


  <div class="card" style="width: 18rem; float: left; margin: 70px;">
    <img class="card-img-top" src="https://image.shutterstock.com/image-photo/pile-wooden-logs-under-blue-260nw-113920951.jpg" style="height: 250px; width: 285px;" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Product</h5>
      <div>
        <a href="#" class="btn btn-primary ">Add Product</a> <br> <br>
      </div>
       <div>
        <a href="#" class="btn btn-primary">View Product</a>
       </div>
      
    </div>
  </div>


  <div class="card" style="width: 18rem; float: left; margin: 70px;">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTktOXaPMEqD_tUduzrqO9K_nXse4dNVU5YJS0J6fr6h6KWkx3Ow&s" style="height: 250px; width: 285px;" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Contract</h5>
      <div>
        <a href="#" class="btn btn-primary ">Add Customer</a> <br> <br>
      </div>
       <div>
        <a href="#" class="btn btn-primary">View Customer</a>
       </div>
      
    </div>
  </div>

  <div class="card" style="width: 18rem; float: left; margin: 70px;">
    <img class="card-img-top" src="https://image.shutterstock.com/image-photo/business-people-shaking-hands-finishing-260nw-721102051.jpg" style="height: 250px; width: 285px;" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Client</h5>
      <div>
        <a href="#" class="btn btn-primary ">Add Product</a> <br> <br>
      </div>
       <div>
        <a href="#" class="btn btn-primary">View Product</a>
       </div>
      
    </div>
  </div>

  <div class="card" style="width: 18rem; float: left; margin: 70px;">
    <img class="card-img-top" src="https://image.shutterstock.com/image-photo/weekly-planner-schedule-memo-timeline-260nw-460089175.jpg" style="height: 250px; width: 285px;" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Scheduler</h5>
      <div>
        <a href="#" class="btn btn-primary ">Add Product</a> <br> <br>
      </div>
       <div>
        <a href="#" class="btn btn-primary">View Product</a>
       </div>
      
    </div>
  </div>

>

  